{#
Outline:
This template is used for rendering a hostname, and a description.
Here's a new line that doesn't do much.
 #}

################
Rendered Template
################
{% if your_name is None %}
You didn't provide your name.
{% else %}
Hello, {{ your_name }}!
{% endif %}
