{#
Outline:
This template is used for rendering a hostname, and a description.
Here's a new line that doesn't do much.
 #}

################
Rendered Template
################
Hello, {{ your_name }}!
