{#
Outline:
This template is used for rendering a hostname, and a description.
Here's a new line that doesn't do much.
 #}

################
Rendered Template
################
{% if your_name != None %}
Hello, {{ your_name }}!
{% else %}
You didn't provide your name.
{% endif %}
